#ability-scores tr {
  td, th {
    padding: 2px;
    text-align: center;
  }
  > td:nth-child(4), th:nth-child(4), > td:nth-child(5), th:nth-child(5) {
    font-size: small;
    color: #999;
  }
  > td:nth-child(1) {
    color: #f66;
  }
}

table {
  margin: 0;
}
