td
  = hidden_input CharacterHelpers.modifier_form_name(@f_index, @m_index),
    :id,
    name: "character[fields][#{@f_index}][modifiers][#{@m_index}][id]",
    value: @m.id
  = number_input CharacterHelpers.modifier_form_name(@f_index, @m_index),
    :value,
    name: "character[fields][#{@f_index}][modifiers][#{@m_index}][value]",
    class: "form-control",
    value: @m.value
td
  = text_input CharacterHelpers.modifier_form_name(@f_index, @m_index),
    :description,
    name: "character[fields][#{@f_index}][modifiers][#{@m_index}][description]",
    class: "form-control",
    value: @m.description
td
  = if @m.id do
    = label CharacterHelpers.modifier_form_name(@f_index, @m_index),
      :delete,
      "Delete?",
      class: "control-label"
    '
    = checkbox CharacterHelpers.modifier_form_name(@f_index, @m_index),
      :delete,
      name: "character[fields][#{@f_index}][modifiers][#{@m_index}][delete]",
      style: "vertical-align: text-bottom"
  - else

    a href="#" class="remove-modifier"
      | - Remove
